name: verify

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  WARP_API: ${{ secrets.WARP_API_TEST_REG }}
  WARP_DEFAULT: ${{ secrets.WARP_DEFAULT }}
  TRACE: "https://www.cloudflare.com/cdn-cgi/trace"
  SOCKS: "socks5h://127.0.0.1"
  HTTP: "http://127.0.0.1"
  AUTH: "monius:passwd"

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["build-v5"]
    types:
      - completed

jobs:
  # v1:
  #   runs-on: ubuntu-latest
  #   env:
  #     name: ${{ github.job }}
  #     port: 9991
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6
  #     - run: |
  #         curl -fsSL bit.ly/warp_socks | sh -s -- "$name" "linux/amd64" "v1" "$port"
  #         date && sleep 30 && docker ps -a && date && docker logs "$name"
  #     - id: check
  #       run: echo trace=$(curl -v -x "$SOCKS:$port" -fsSL $TRACE | grep -w "warp=on") >> $GITHUB_OUTPUT
  #     - run: echo "The proxy status is ${{ steps.check.outputs.trace }}"
  #     - uses: lhotari/action-upterm@v1
  #       if: ${{ steps.check.outputs.trace != 'warp=on' }}
  # v2:
    # needs:
    #   - v1
    # runs-on: ubuntu-latest
    # env:
    #   name: ${{ github.job }}
    #   port: 9992
    # steps:
    #   - name: Checkout
    #     uses: actions/checkout@v6
    #   - run: |
    #       curl -fsSL bit.ly/warp_socks | sh -s -- "$name" "linux/amd64" "v2" "$port" "monius" "passwd"
    #       date && sleep 15 && docker ps -a && date && docker logs "$name"
    #   - id: check
    #     run: echo trace=$(curl -v -U $AUTH -x "$SOCKS:$port" -fsSL $TRACE | grep -w "warp=on") >> $GITHUB_OUTPUT
    #   - run: echo "The proxy status is ${{ steps.check.outputs.trace }}"
    #   - uses: lhotari/action-upterm@v1
    #     if: ${{ steps.check.outputs.trace != 'warp=on' }}
  # v3:
  #   needs:
  #     - v2
  #   runs-on: ubuntu-latest
  #   env:
  #     name: ${{ github.job }}
  #     port: 9993
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v6
  #     - run: |
  #         sudo docker run --name $name -e NET_PORT=$port -p $port:$port --restart=always -itd monius/docker-warp-socks:v3
  #         date && sleep 15 && docker ps -a && date && docker logs "$name"
  #     - id: check
  #       run: echo trace=$(curl -v -x "$HTTP:$port" -fsSL $TRACE | grep -w "warp=on") >> $GITHUB_OUTPUT
  #     - run: echo "The proxy status is ${{ steps.check.outputs.trace }}"
  #     - uses: lhotari/action-upterm@v1
  #       if: ${{ steps.check.outputs.trace != 'warp=on' }}
  tag:
    runs-on: ubuntu-latest
    outputs:
      dockerhub_tag: ${{ steps.convert.outputs.dockerhub_tag }}
      ghcr_tag: ${{ steps.convert.outputs.ghcr_tag }}
    steps:
    - id: convert
      run: |
        dockerhub_tag="${{ secrets.DOCKERHUB_USERNAME }}"
        ghcr_tag="ghcr.io/${{ github.repository }}"
        echo "dockerhub_tag=${dockerhub_tag,,}" >> $GITHUB_OUTPUT
        echo "ghcr_tag=${ghcr_tag,,}" >> $GITHUB_OUTPUT
  v4:
    needs:
      - tag
    runs-on: ubuntu-latest
    env:
      name: ${{ github.job }}
      port: 9994
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: |
          sudo docker run --name $name -e NET_PORT=$port -p $port:$port --restart=always -itd ${{ needs.tag.outputs.ghcr_tag }}:v4
          date && sleep 15 && docker ps -a && date && docker logs "$name"
      - id: check
        run: echo trace=$(curl -v -x "$HTTP:$port" -fsSL $TRACE | grep -w "warp=on") >> $GITHUB_OUTPUT
      - run: echo "The proxy status is ${{ steps.check.outputs.trace }}"
      - uses: lhotari/action-upterm@v1
        if: ${{ steps.check.outputs.trace != 'warp=on' }}
  v5:
    needs:
      - tag
      - v4
    runs-on: ubuntu-latest
    env:
      name: ${{ github.job }}
      port: 9995
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - run: |
          sudo docker run --name $name -e NET_PORT=$port -p $port:$port --restart=always -itd ${{ needs.tag.outputs.ghcr_tag }}:v5
          date && sleep 15 && docker ps -a && date && docker logs "$name"
      - id: check
        run: echo trace=$(curl -v -x "$HTTP:$port" -fsSL $TRACE | grep -w "warp=on") >> $GITHUB_OUTPUT
      - run: echo "The proxy status is ${{ steps.check.outputs.trace }}"
      - uses: lhotari/action-upterm@v1
        if: ${{ steps.check.outputs.trace != 'warp=on' }}

